@charset "utf-8";
/* CSS Document */
ul, li, h1, h2, h3, p {
    padding: 0;
    margin: 0;
    list-style: none
}

html {
    background: url(015.jpg) no-repeat center top fixed;
    background-size: cover
}

body {
    width: 1000px;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    line-height: 21px
}
.clear{ clear:both}
a{ text-decoration:none}

.menu li { border-radius:30px; float:left; margin:12px; padding:8px 13px ; width:148px}
.menu li a{
    list-style:none;
    text-shadow:1px 1px 3px black;
    color: orange;
    font-size:23px;
}
.logo {
    background: #fff;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.banner {
    height: 700px;
    background-image: url('016.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
    margin-top: 0;
}
.banner h1 {
    margin: 100px 100px 100px 50px;
    text-shadow: 2px 2px 6px black;
    color: #4dc4ff;
    font-size: 60px;
    font-family: "微软雅黑", serif;
}
.banner h2 {
    color: #666666;
    margin-left: 100px;
    font-family: "华文仿宋", serif;
    text-shadow: 0 0 2px white;
}

.banner img{ display:block}
.menu{ clear:both; width:100%; text-align:center;  background:#ffff99}



.right{ float:right; width:660px; padding:20px}
.left{ min-height:300px; float:left; width:480px; margin-left:30px; padding:10px}
.content { clear:both; padding-bottom:20px; font-size:14px; display:block ; color:#333; width:100%}
/*.avc{ font-size:20px; line-height:40px; margin-top:30px}*/
.end{ clear:both; background:#fbc05c; color:#fff; padding:20px 0; text-align:center;}
/*.produce img{  margin:0 20px 20px 0}*/
.produce { line-height:30px}
.pad{ padding:20px; display:block}
.pics p{ margin:1px; text-align:center}


.end p {
    color: #ffffb3;
    font-size: 25px;
    font-family: "楷体", serif;
    text-shadow: 0 0 4px black;
}